<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is the current ozone air quality checker for my surroundings in Lahore. </p>
  <hr class="my-4">
  <p>Hit "Reload" in your web browser to update the reading...</p>
  <p class="lead">
    <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>