@import "bootstrap";
.green{
  background-color: green;
}
.yellow{
  background-color: yellow;
}
.red{
  background-color: orange;
}

.orange{
  background-color: red;
}
.purple{
  background-color: purple;
}
.maroon{
  background-color: maroon;
}
.gray{
  background-color: gray;
}